<template>
    <form>
        <input type="file" @change="onFileChange" />
        <button>OK!</button>
    </form>
</template>

<script>
export default {
    methods: {
        onFileChange(event) {
            console.log('event', event.target.files)
        }
    },
}
</script>