<template>
    <div>
        TodoList
        <button type="button" @click="toggleCreate">Toggle Create</button>
        <TodoInput v-if="isShowCreate" />
        <vue-confirmation-button :messages="['aa','bb']" />
    </div>
</template>

<script>
import TodoInput from './components/TodoInput.vue'
import vueConfirmationButton from 'vue-confirmation-button'

export default {
    components: {
        TodoInput,
        vueConfirmationButton,
    },
    data() {
        return {
            isShowCreate: false,
        }
    },
    methods: {
        toggleCreate() {
            this.isShowCreate = !this.isShowCreate
        }
    },
}
</script>