
<template>
    <div>
        {{ myName }}
        <a v-bind:href="myLink">Click me</a>
        <!-- สามารถย่อ v-bind: ให้เหลือแค่ : ได้ -->
        <a :href="anotherLink.myAnotherLink">Click me</a>
    </div>
</template>

<script>
export default {
    data() {
        return {
            myName: 'Adam',
            myLink: 'https://google.com',
            anotherLink: {
                myAnotherLink: 'https://facebook.com'
            }
        }
    }
}
</script>




<style>
</style>





