
<template>
    <div>
        <button v-on:click="alertSomething">Click Me</button>
        <!-- สามารถย่อ v-on: ให้เหลือแค่ @ ได้ -->
        <button @click="alertSomething">Click Me</button>
        <!-- สามารถส่ง arguments ในการเรียก method ได้ -->
        <button @click="alertFromParameter('me')">Click Me</button>
    </div>
</template>

<script>
export default {
    methods: {
        alertSomething() {
            alert('something')
        },
        alertFromParameter(message) {
            alert(message)
        }
    }
}
</script>




<style>
</style>





