<template>
    <div>
        <a :href="link">Go to Google</a>
        <br />
        <br />
        <a :href="link">
            <img :src="image" />
        </a>
    </div>
</template>

<script>
export default {
    data() {
        return {
            link: 'https://google.com',
            image: 'https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80',
        }
    }
}
</script>