<template>
    <div class="container">
        <div class="fullName">
            Full Name: <strong>{{ firstName }} {{ lastName }}</strong>
        </div>
        <div class="age">
            Age: <strong>{{ age }} {{ age }}</strong>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            firstName: 'Zenon',
            lastName: 'SI',
            age: 26,
        }
    }
}
</script>

<style>
.container {
    display: flex;
    flex-direction: row;
}
.fullName {
    flex: 2;
    background: blue;
    color: #FFF;
}
.age {
    flex: 1;
    background: yellow;
}
</style>