<template>
    <div class="container">
        <section class="left">
            <img class="productImage" :src="currentImage" />
        </section>
        <section class="right">
            <section class="price">
                {{ currentPrice }} บาท
            </section>
            <section class="variants">
                <section class="colors">
                    <h3>สี: </h3>
                    <button @click="changeImage(images.blue)">สีน้ำเงิน</button>
                    <button @click="changeImage(images.pink)">สีชมพู</button>
                    <button @click="changeImage(images.black)">สีดำ</button>
                </section>
                <section class="model">
                    <h3>รุ่น: </h3>
                    <button @click="changePrice(prices.mini)">iPhone 13 Mini</button>
                    <button @click="changePrice(prices.normal)">iPhone 13</button>
                    <button @click="changePrice(prices.pro)">iPhone 13 Pro</button>
                    <button @click="changePrice(prices.proMax)">iPhone 13 Pro Max</button>
                </section>
            </section>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            currentImage: 'https://cf.shopee.co.th/file/11477dbf91bffaac2f8070e8fab169e1',
            currentPrice: 450,
            images: {
                normal: 'https://cf.shopee.co.th/file/11477dbf91bffaac2f8070e8fab169e1',
                blue: 'https://cf.shopee.co.th/file/ffd4c8e1f508d728831734c3fe47c1d4',
                pink: 'https://cf.shopee.co.th/file/4a745a1c651cecaeeb1c3aa9ff0771da',
                black: 'https://cf.shopee.co.th/file/9cca107f9632c1f0bfb244c746150350',
            },
            prices: {
                normal: 500,
                mini: 450,
                pro: 750,
                proMax: 900,
            }
        }
    },
    methods: {
        changeImage(image) {
            this.currentImage = image
        },
        changePrice(price) {
            this.currentPrice = price
        }
    }
}
</script>

<style>
.container {
    display: flex;
    flex-direction: row;
}

.left {
    flex: 1;
}

.productImage {
    width: 100%;
}

.right {
    flex: 1;
}

.price {
    font-size: 2rem;
    margin-bottom: 24px;
}
</style>