<template>
    <div>
        <table>
            <tr>
                <td>
                    {{ p00 }}
                </td>
                <td>
                    {{ p01 }}
                </td>
                <td>
                    {{ p02 }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ p10 }}
                </td>
                <td>
                    {{ p11 }}
                </td>
                <td>
                    {{ p12 }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ p20 }}
                </td>
                <td>
                    {{ p21 }}
                </td>
                <td>
                    {{ p22 }}
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <br />
        <br />
        <table>
            <tr>
                <td>
                    <button @click="set00('x')">X</button>
                    <button @click="set00('o')">O</button>
                    <button @click="set00('')">&nbsp;&nbsp;</button>
                </td>
                <td>
                    <button @click="set01('x')">X</button>
                    <button @click="set01('o')">O</button>
                    <button @click="set01('')">&nbsp;&nbsp;</button>
                </td>
                <td>
                    <button @click="set02('x')">X</button>
                    <button @click="set02('o')">O</button>
                    <button @click="set02('')">&nbsp;&nbsp;</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button @click="set10('x')">X</button>
                    <button @click="set10('o')">O</button>
                    <button @click="set10('')">&nbsp;&nbsp;</button>
                </td>
                <td>
                    <button @click="set11('x')">X</button>
                    <button @click="set11('o')">O</button>
                    <button @click="set11('')">&nbsp;&nbsp;</button>
                </td>
                <td>
                    <button @click="set12('x')">X</button>
                    <button @click="set12('o')">O</button>
                    <button @click="set12('')">&nbsp;&nbsp;</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button @click="set20('x')">X</button>
                    <button @click="set20('o')">O</button>
                    <button @click="set20('')">&nbsp;&nbsp;</button>
                </td>
                <td>
                    <button @click="set21('x')">X</button>
                    <button @click="set21('o')">O</button>
                    <button @click="set21('')">&nbsp;&nbsp;</button>
                </td>
                <td>
                    <button @click="set22('x')">X</button>
                    <button @click="set22('o')">O</button>
                    <button @click="set22('')">&nbsp;&nbsp;</button>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            p00: '',
            p01: '',
            p02: '',
            p10: '',
            p11: '',
            p12: '',
            p20: '',
            p21: '',
            p22: '',
        }
    },
    methods: {
        set00(mark) {
            this.p00 = mark.toUpperCase()
        },
        set01(mark) {
            this.p01 = mark.toUpperCase()
        },
        set02(mark) {
            this.p02 = mark.toUpperCase()
        },
        set10(mark) {
            this.p10 = mark.toUpperCase()
        },
        set11(mark) {
            this.p11 = mark.toUpperCase()
        },
        set12(mark) {
            this.p12 = mark.toUpperCase()
        },
        set20(mark) {
            this.p20 = mark.toUpperCase()
        },
        set21(mark) {
            this.p21 = mark.toUpperCase()
        },
        set22(mark) {
            this.p22 = mark.toUpperCase()
        },
    },
}
</script>

<style>
td {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid #AAA;
}
</style>