<template>
    <div>
        My Name: {{ name }} <button @click="setname">Set Name</button>
        <br />
        Popcat: {{ amountOfClicks }}
        <button @click="pop">click</button>
    </div>
</template>

<script>
export default {
    data() {
        return {
            name: '',
            amountOfClicks: 0,
        }
    },
    methods: {
        pop() {
            this.amountOfClicks++
        },
        setname() {
            this.name = prompt('Your name')
        }
    },
}
</script>