<template>
    <div>
        <button @click="sayHi">Say HI</button>
    </div>
</template>

<script>
export default {
    methods: {
        sayHi() {
            alert('HI!!')
        }
    },
}
</script>