<template>
    <div>
        <router-link to="/">Todo List</router-link>
        <form @submit.prevent="addTodo">
            <input v-model="input" />
            <button>Create</button>
        </form>
        <ul>
            <li
                v-for="(todo, index) in $root.store.todos"
                :key="index"
            >
                {{ todo }}
            </li>
        </ul>
    </div>
</template>

<script>
import store from '../store'
export default {
    data() {
        return {
            input: '',
        }
    },
    methods: {
        addTodo() {
            store.addTodo(this.input)
            this.input = ''
        }
    }
}
</script>





