<template>
    <div>
        <div>
            <router-link to="/create">Create Todo</router-link>
        </div>
        <ul>
            <li v-for="(todo, index) in $root.store.todos" :key="index">
                {{ todo }}
            </li>
        </ul>
    </div>
</template>

<script>
export default {
}
</script>