<template>
    <div>
        {{ siteTitle }}
        <button @click="doSomeThing">Do something</button>
    </div>
</template>

<script>
export default {
    props: ['siteTitle'],
    methods: {
        doSomeThing() {
            this.$emit('somethingDone', 'the data')
        }
    },
}
</script>
















