<template>
    <div>
        <form @submit.prevent="addTodo">
            <div>
                Todo:&nbsp;
                <input type="text" v-model="todo">
            </div>
            <div>
                <button>Add</button>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            todo: '',
        }
    },
    mounted() {
        alert('ready to create')
    },
    destroyed() {
        alert('good bye')
    },
    methods: {
        addTodo() {

        }
    }
}
</script>