<template>
    <div>
        <NavigationBar
            :siteTitle="mySiteName"
            @somethingDone="onSomethingDone"
        />
        Body
    </div>
</template>

<script>
import Topbar from './components/Topbar'

export default {
    components: {
        'NavigationBar': Topbar
    },
    data() {
        return {
            mySiteName: 'Test Website By Me'
        }
    },
    methods: {
        onSomethingDone(value) {
            alert(value)
        }
    }
}
</script>





