<template>
    <div>
        About
        <button @click="goToHome">Click to Go Home</button>
        <router-link to="/news/1">
            Go To News 1
        </router-link>
    </div>
</template>

<script>
export default {
    methods: {
        goToHome() {
            // สั่งเปลี่ยนหน้าในส่วนของ Javascript




            console.log('this.$route', this.$route)





            console.log('this.$router', this.$router)





            this.$router.push('/home')
        }
    }
}
</script>




