<template>
    <div>
        Home Page
        <br />
        <!-- ใช้ Router Link แทน <a href="" -->
        <router-link to="/about">
            Go to About Page
        </router-link>
    </div>
</template>












