<template>
    <div>
        News
        <br />
        Current News Id: {{ $route.params.id }}
        <br />
        <button @click="alertNewsId">Alert News Id</button>
    </div>
</template>

<script>
export default {
    methods: {
        alertNewsId() {
            alert(this.$route.params.id)
        }
    }
}
</script>




